@import '@/styles/mixins';

$legalBG: #f2f2f2;
$legalHeight: 100px;

.legal {
  position: relative;

  .legal-area {
    display: flex;
    align-items: center;
    height: $legalHeight;
    background-color: $legalBG;

    .legal-cta {
      display: flex;
      flex-grow: 1;
      align-items: center;
      padding: 0 $spacingBase * 4;
      cursor: pointer;
      height: 100%;

      svg {
        transition: all 0.2s linear;
      }

      span {
        margin-left: $spacingBase;
        @include focus;
      }
    }
  }

  .legal-content {
    background-color: $legalBG;
    padding: 0 $spacingBase * 4 $spacingBase * 4 $spacingBase * 4;
    display: none;

    p {
      margin-bottom: $spacingBase * 2;
    }
  }

  .legal-contact-us {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: $legalHeight;
    pointer-events: none;

    .button {
      margin: 0 $spacingBase * 4;
      pointer-events: auto;
    }
  }

  &.expanded {
    svg {
      transform: rotate(90deg);
    }
    .legal-content {
      display: block;
    }
  }
}
